<div>
  <div>
    <label>Data da Ofensa: </label>
    <input name="date" type="date" />
    <label for="">Hora: </label>
    <input name="hour" type="time" />
  </div>
  <div>
    <h3>O que causou a ofensa?</h3>
    <input id="joke" name="offense" type="radio" />
    <label for="joke">Uma piada</label>
    <input id="news" name="offense" type="radio" />
    <label for="news">Uma notícia</label>
    <input id="opinion" name="offense" type="radio" />
    <label for="opinion">Uma opinião</label>
    <input id="stuff" name="offense" type="radio" />
    <label for="stuff">Coisas no geral</label>
  </div>
  <div>
    <h3>Foi necessário um lenço para limpar as lágrimas?</h3>
    <input id="tearsyes" name="tears" type="radio" />
    <label for="tearsyes">Sim</label>
    <input id="tearsno" name="tears" type="radio" />
    <label for="tearsno">Não</label>
  </div>
  <div>
    <h3>Acha que consegue esquecer o assunto?</h3>
    <input id="tearsyes" name="forget" type="radio" />
    <label for="tearsyes">Sim</label>
    <input id="tearsno" name="forget" type="radio" />
    <label for="tearsno">Não</label>
    <input id="tearsnotsure" name="forget" type="radio" />
    <label for="tearsnotsure">Não tenho a certeza</label>
  </div>
</div>
