@import '../styles/styles.scss';

.disclaimer {
  text-align: center;
  width: 100%;
}

.cookie-banner{
  @extend .noselect;
  @extend .disclaimer;

  background-color: black;
  bottom: 0;
  left: 0;
  color: white;
  position: fixed;
  padding-top: 10px;
  padding-bottom: 5px;
}

.content-wrapper{
  padding-top:75px;
}
