.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.disclaimer {
  text-align: center;
  width: 100%;
}

.cookie-banner{
  @extend .noselect;
  @extend .disclaimer;

  background-color: black;
  bottom: 0;
  left: 0;
  color: white;
  position: fixed;
  padding-top: 10px;
  padding-bottom: 5px;
}

.content-wrapper{
  padding-top:75px;
}
